<%- include("partials/header") %>

<h1>The Posts Page</h1>
<% for(var i=0;i<post.length;i++){ %>
	<li><%= post[i].title %> - <%= post[i].author %></li>							 
<% } %>
 
<%- include("partials/footer") %>