<%- include("partials/header") %>

<h1>Fell in love: <%= thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
	<p>BEST CHOICE</p>
<% } else { %>
	<p>BAD CHOICE</p>
<% } %>

<%- include("partials/footer") %>